body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    background-color: #eee;
}

.content {
    padding: 10px 40px;
    width: 70%;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    background-color: #fff;
    margin: 0px 10px;
}

section {
    margin-top: -40px;
    padding-top: 24px;
}

nav {
    z-index: 1;
    background-color: blue;
    color: white;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
}

nav ul {
    margin: 10px 0px;
}

nav li {
    display: inline;
    padding-right: 20px
}

nav li a {
    color: white;
    text-decoration: none;
}


.rubriken-titel {
    display: block;
    font-weight: bold;
}