body {
    margin: 0;
    padding: 0 0 150px 0;
    background-color: #00BCD4;
    color: white;
    font-family: Roboto, Arial, sans-serif;
}

body table {
    color: rgba(0,0,0,0.84);
}

.lowercase {
    text-transform: lowercase !important;
}

.dpn {
    display: none !important;
}

.invisible {
    opacity: 0;
}

.w100 {
    width: 100% !important;
}

a {
    color: #00BCD4;
}

a.btn {
    border-radius: 2px;
    background-color: #00BCD4;
    color: white;
    text-decoration: none;
    padding: 11px 16px;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
}

.float-right {
    float: right;
}

nav {
    background-color: #fff;
    width: 100%;
    padding: 5px 0px;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

nav .logo {
    height: 100%;
    margin-left: 10px;
}
nav ul {
    display: inline;
    float: right;
    margin: 16px 20px;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
    display: inline;
}

nav ul li a {
    color: #00BCD4;
    text-decoration: none;
}

footer {
    color: white;
    margin-top: 100px;
    text-align: center;
}

footer a {
    color: white;
}

.content {
    width: 50%;
    position: relative;
    top: 70px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.title h1 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 0px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.title h1, .title img {
    margin-top: 0.75rem;
}

#agb ol ol {
    list-style-type: lower-alpha;
}

div.card {
    background-color: #fff;
    margin-bottom: 40px;
    color: rgba(0,0,0,0.84);
    padding: 10px 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card > h2 {
    color: rgba(0,0,0,0.84);
    margin: 10px 0px;
}

#rubriken .titel {
    font-weight: bold;
    display: block;
}

#rubriken ul li {
    margin-bottom: 10px;
}

.preise .img {
    width: 50%;
}

.preise div .img img {
    width: 100%;
}

.preise table tr td ol {
    color: rgba(0,0,0,0.84);
}

.preise table tr td ol li span {
    display: block;
}

.important-texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: larger;
    text-align: center;
}

.important-texts .card {
    display: inline;
    width: 30%;
}

.important-texts #auflage {
    margin-right: 20px;
    margin-left: 20px;
}

#facts {
    position: relative;
    margin-bottom: 40px;
}

#facts .prev,
#facts .next {
    position: absolute;
    z-index: 1;
    top: 50%;
    font-size: 2em;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#facts .prev {
    content: "<";
    left: 5;
}

#facts .next {
    content: ">";
    right: 5;
}

#facts div {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#facts div:nth-of-type(1) {
    position: initial
}

#facts div img {
    width: 100%;
}

#informationen-zum-druck table {
    color: rgba(0, 0, 0, 0.84);
    border-spacing: 10px;
}

#mediadaten h3 {
    margin-bottom: 5px;
}

#mediadaten p {
    margin-top: 5px;
}

#weg-ihrer-anzeige div {
    transition: all 0.8s;
    overflow: hidden;
}

#weg-ihrer-anzeige .expanded {
    max-height: 0%;
}

#weg-ihrer-anzeige .collapsed {
    max-height: 100%;
}

.preisuebersicht table {
    width: 100%;
    color: rgba(0,0,0,0.84);
    border-spacing: 10px;
}

.preisuebersicht table tr th {
    text-align: left;
}
@media (max-width: 440px) {
    html body .content .title h1 {
        font-size: 1.5em;
    }

    body nav ul li {
        margin-right: 5px;
    }

    .title-agb {
        font-size: 1.5em;
    }
}

@media (max-width: 550px) {
    .content {
        width: 80%;
    }
    body .content .title h1 {
        font-size: 2.5em;
    }

    nav ul li a {
        font-size: 0.8em;
    }

    nav ul {
        margin: 16px 8px;
    }

    nav ul li {
        margin-right: 10px;
    }
}


@media (max-width: 640px) {
    body .content {
        width: 95%;
    }
    .content .title h1 {
        font-size: 3em;
    }
}

@media (max-width: 1024px) {
    .content {
        width: 70%;
    }
    
    .title h1 {
        font-size: 3.5em;
    }
}